#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    background-color: #D9D9D9;
    min-height: 100vh; /* 100% de la altura de la ventana */
    display: flex; /* Activamos Flexbox */
    justify-content: center; /* Centrado horizontal */
    align-items: center;
    flex-direction: column;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .yesButton {
    background-color: #000000; /* Verde */
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input[type="email"] {
    color: black;
  }
  
  input[type="password"] {
    color: black;
  }

  html, body {
    margin: 0; /* Elimina cualquier margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden; /* Deshabilita el desplazamiento */
    background-color: #D9D9D9; /* Color de fondo gris */
  }

  .modal {
    position: fixed; /* Para que se quede fijo en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #000000;
    z-index: 999; /* Para que se muestre por encima de otros elementos */
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 0.25rem;
    }
  
  .modal-content {
    border-radius: 0.25rem;
    background-color: #fefefe;
    height: 100%;;
    width: 80%;
    text-align: center;
    font-size: 24px;
  }
  .modal-content p {
    margin-top: 10px; 
  }

  .close {
    transition: all 0.3s ease;
    cursor: pointer; 
    border-radius: 0.25rem;
       background-color: red;
    color: white;
    float: right;
     font-size: 28px;
     font-weight: bold;
     height: 30.5px;
    width: 30px;     
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px; 
  right: 10px;
}

  .close:hover {
    background-color: darkred;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
  }

  .modal-content img {
    margin-top: 20px;
    height: 80px;
    width: 100px;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.8px);
    z-index: 1  998;
    display: none;
  }

  .no-style-link {
    color: black; /* O el color que desees */
    text-decoration: none;
    cursor: default; /* Cambia el cursor a un puntero normal */
  }

  .no-style-link:hover {
    color: #007bff;
    text-decoration: underline;
  }