.container {
  padding: 1rem;
  background-color: #D9D9D9;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  color: #5B6C3C;
}

.button {
  background-color: #5B6C3C;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #5B6C3C;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.select {
  flex: 1;
  min-width: 200px;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}

.clear-filters {
  flex: 1;
  min-width: 200px;
  border: 1px solid #5B6C3C;
  color: #5B6C3C;
  background-color: white;
}

.clear-filters:hover {
  background-color: #5B6C3C;
  color: white;
}

.table-container {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid #5B6C3C;
  border-top: 1px solid #5B6C3C;
  border-left: 1px solid #5B6C3C;
  border-right: 1px solid #5B6C3C;
  width: 12.5%; /* 100% dividido por 8 columnas */
}

td {
  text-align: center;
}

th {
  background-color: #5b6c3cbe;
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-align: center;
  padding: 0.75rem 0.5rem;
}

th:hover {
  background-color: #f3f4f6;
}

tr:hover {
  background-color: #f9fafb;
}

.priority-urgente, .priority-media, .priority-baja, .estado-abierto, .estado-cerrado {
  font-weight: 600;
  text-align: center;
}

.priority-urgente {
  color: #dc2626;
}

.priority-media {
  color: #d97706;
}

.priority-baja {
  color: #059669;
}

.estado-abierto {
  color: #059669;
}

.estado-cerrado {
  color: #dc2626;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .select, .clear-filters {
    width: 100%;
  }
}

